<style>

        .welcome{text-align: center;
        font-size: 40px;
        color: green;
        font-family: 'Courier New', Courier, monospace;}
        .title{text-align: center;
            color: rgb(16, 0, 247);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2em;}
        .p-blog{background-color: rgba(240, 218, 190, 0.568);
        border: 2px solid rgb(0, 0, 0);
        margin:50px;
        border-radius: 15px;
        margin-right: 80px;
        margin-left: 80px;}
        .p-text-color{color: rgb(6, 1, 10);
        font-size: 18px;
        padding-left: 15px;
        text-align: justify;
        padding-right: 20px;}
        .photo{width: 300px;
        height: 300px;
        margin-left:525px;
        border-radius: 9px;
        border: 3.50px solid rgb(77, 200, 231);}
        #social{text-align: center;}
        .button{text-align: center;}
        .date{padding-left: 45px;}
        .visit{font-size: 25px;}
        .from-{color: black;}
        

    </style>